---
---

@use 'main
{%- if jekyll.environment == 'production' -%}
.bundle
{%- endif -%}
';

/* Your background styling */
body {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.923),
      rgba(0, 0, 0, 0.6)
    ),
    url('/assets/img/background.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

/* Import custom overrides LAST */
@import 'custom';
